header{
  text-align: center;
  font-size: 100px;;
  color:red;
  border-color: black;
  font-style:normal ;
  font-weight: bolder;
  border-style:solid;
}
main{
  background-image: -webkit-linear-gradient();
}

body{
  background-position:  0% 35%;
  background-size: cover;
  background-image: url("https://cdn.dooca.store/925/products/whatsapp-image-2021-02-12-at-111933_640x640+fill_ffffff.jpeg?v=1613139636&webp=0");
}